<TITLE>Font Face</TITLE>

<h1>Font Face Sample</h1>


<h2>
<font size=5>

<dl><dt><dd>
<dl>
<dt><tt><font size=3>&lt;font face="Arial"&gt;Arial...&lt;/font&gt;</font></tt>

<dd><font face="Arial">Arial --- ABCdef123</font><p>

<dt><tt><font size=3>&lt;font face="Comic Sans MS"&gt;Comic Sans MS...&lt;/font&gt;</font></tt>
<dd><font face="Comic Sans MS">Comic Sans MS --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Courier"&gt;Courier...&lt;/font&gt;</font></tt>
<dd><font face="Courier">Courier --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Courier New"&gt;Courier New...&lt;/font&gt;</font></tt>
<dd><font face="Courier New">Courier New --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Modern"&gt;Modern...&lt;/font&gt;</font></tt>
<dd><font face="Modern">Modern --- ABCdef123</font><P>

<dt><tt><font size=3>&lt;font face="MS Sans Serif"&gt;MS Sans Serif...&lt;/font&gt;</font></tt>
<dd><font face="MS Sans Serif">MS Sans Serif --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="MS Serif"&gt;MS Serif...&lt;/font&gt;</font></tt>
<dd><font face="MS Serif">MS Serif --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="MS-DOS CP 932"&gt;MS-DOS CP 932...&lt;/font&gt;</font></tt>
<dd><font face="MS-DOS CP 932">MS-DOS CP 932 --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Roman"&gt;Roman...&lt;/font&gt;</font></tt>
<dd><font face="Roman">Roman --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Script"&gt;Script...&lt;/font&gt;</font></tt>

<dd><font face="Script">Script --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Small Fonts"&gt;Small Fonts...&lt;/font&gt;</font></tt>
<dd><font face="Small Fonts">Small Fonts --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Symbol"&gt;Symbol...&lt;/font&gt;</font></tt>
<dd><font face="Symbol">Symbol --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Times Roman"&gt;Times Roman...&lt;/font&gt;</font></tt>
<dd><font face="Times Roman">Times Roman --- ABCdef123</font><P>


<dt><tt><font size=3>&lt;font face="Times New Roman"&gt;Times New Roman...&lt;/font&gt;</font></tt>
<dd><font face="Times New Roman">Times New Roman --- ABCdef123</font><P>
<dd><font face="Times New Roman" style="font-family: Times, serif; font-size: 10pt; ">Times New Roman --- ABCdef123   the House of Deputies concurring, That the 76th General Convention direct the Standing Commission on Ecumenical and Interreligious Relations to begin a dialogue with the appropriate ecumenical offices of the Church of Sweden, the ultimate goal of which is to reach a relationship of full communion between The Episcopal Church and the Church of Sweden; and be it further</font><P>

  <dd><font face="Georgia" style="-webkit-text-size-adjust:none ; font-size: 10pt; ">Georgia --- ABCdef123   the House of Deputies concurring, That the 76th General Convention direct the Standing Commission on Ecumenical and Interreligious Relations to begin a dialogue with the appropriate ecumenical offices of the Church of Sweden, the ultimate goal of which is to reach a relationship of full communion between The Episcopal Church and the Church of Sweden; and be it further</font><P>


<dt><tt><font size=3>&lt;font face="WingDings"&gt;WingDings...&lt;/font&gt;</font></tt>
<dd><font face="WingDings">WingDings --- ABCdef123</font><P>


</dl>
</dl>

</font></H2>

